@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper{
    width: 1440px;
    height: 1046px;
}

.h1{
position: absolute;
width: 365px;
height: 93px;
left: 124px;
top: 91px;
}

h1{
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
color: #000000;
}

.left{
position: absolute;
width: 662px;
height: 374px;
left: 124px;
top: 202px;
}

.content{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #000000;
}

.right{
position: absolute;
width: 314px;
height: 315px;
left: 976px;
top: 226px;
}

.operator2{
position: absolute;
width: 232px;
height: 203px;
left: 124px;
top: 670px;
}

.lessons{
position: absolute;
width: 150px;
height: 39px;
left: 488px;
top: 740px;
}

h6{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 130%;
margin-bottom: 0;
}

p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
}

.hours{
position: absolute;
width: 150px;
height: 39px;
left: 733px;
top: 740px;
}

.weeks{
position: absolute;
width: 150px;
height: 39px;
left: 976px;
top: 740px;
}